<div class = "weatherDetailBox"  >
   <p><b>Actual Data of Weather Station</b></p>
   <div class = "weatherDetailRow" >
     Temperature: {{ details.main?.temp }} ºC 
  </div> 
  <div class = "weatherDetailRow" >
    Humidity: {{ details.main?.humidity }} % 
  </div>  
  <div class = "weatherDetailRow" >
    Pressure: {{ details.main?.pressure }} hpa
  </div>
  <div class = "weatherDetailRow" >
    Wind Speed: {{ details.wind?.speed }} m/s
  </div> 
   <div class = "weatherDetailRow" > 
    Wind Direction: {{calculateWinDirection(details?.wind)}}
   </div>  
  <div class = "weatherDetailRow" >
    Last Date Updated:  {{ calculateDate(details?.dt)| date: 'dd/MM/yyyy' }} 
  </div> 
</div>