<div class = "forecastDetailRow" >
    <span class = "dayBox" >   </span>
    <span class = "rowItem" > Day Temperature: <b>  ºC </b> </span>
    <span class = "rowItem" > Min Daily Temperature: <b>  ºC </b></span>
    <span class = "rowItem" > Max Daily Temperature: <b>  ºC </b></span>
    <span class = "rowItem" > Night Temperature: <b>  ºC </b></span>
    <span class = "rowItem" > Evening Daily Temperature: <b>  ºC </b></span>
    <span class = "rowItem" > Morning Daily Temperature: <b>  ºC </b></span> 
</div>



<!-- <div class = "weatherDetailRow" >
    <span class = "dayBox" > { dateformat(d, 'dd/mm/yyyy') }  </span>
    <span class = "rowItem" > Day Temperature: <b> { item.temp.day } ºC </b> </span>
    <span class = "rowItem" > Min Daily Temperature: <b> { item.temp.min } ºC </b></span>
    <span class = "rowItem" > Max Daily Temperature: <b> { item.temp.max } ºC </b></span>
    <span class = "rowItem" > Night Temperature: <b> { item.temp.night } ºC </b></span>
    <span class = "rowItem" > Evening Daily Temperature: <b> { item.temp.eve } ºC </b></span>
    <span class = "rowItem" > Morning Daily Temperature: <b> { item.temp.morn } ºC </b></span> 
</div> -->