{
  "parser": "babel-eslint",
  "extends": "standard",
  "globals": {
    "__DEV__"  : true,
    "describe" : false,
    "it"       : false
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
