<div class="login-page d-flex">

  <div class="login-page-content">

    <md-card class="login-page-content-card">

      <div class="login-image flex-container" fxLayout="row" fxLayoutAlign="center center">
        <img src="/images/GT-motive-logo-login.png" />
      </div>

      <md-card-content class="login-form">

        <form [formGroup]="loginform" class="flex-container" fxLayout="column" fxLayoutAlign="start start">

          <div class="form-field flex-item" fxFlex="100%" fxFlex.xs="100%">
            <md-input-container id="client" class="md-secondary">
              <input mdInput type="text" placeholder="{{'CustNumber' | translate}}" formControlName="client">
            </md-input-container>
            <!-- <gt-control-messages [control]="loginform.get('client')" class="validate-message-error"></gt-control-messages> -->
          </div>

          <div class="form-field flex-item" fxFlex="100%" fxFlex.xs="100%">
            <md-input-container id="user" class="md-secondary">
              <input mdInput type="text" placeholder="{{'UserId' | translate}}" formControlName="username">
            </md-input-container>
            <!--  <gt-control-messages [control]="loginform.get('user')" class="validate-message-error"></gt-control-messages>-->

          </div>

          <div class="form-field flex-item" fxFlex="100%" fxFlex.xs="100%">
            <md-input-container id="password" class="md-secondary">
              <input mdInput type="password" placeholder="{{'Passwd' | translate}}" formControlName="password">
            </md-input-container>
            <!-- <gt-control-messages [control]="loginform.get('password')" class="validate-message-error"></gt-control-messages>-->
          </div>

          <a href="·">{{'ForgottenPass' | translate}}</a>

          <button md-raised-button id="btnLogin" class="flex-item md-primary" [disabled]="!loginform.valid" (click)="doLogin()">{{'LoginPortal' | translate}}</button>

        </form>
      </md-card-content>

    </md-card>

  </div>

  <footer class="login-page-footer">
    <p>We (m)power better outcomes
      <small>GTMOTIVE | a Mitchell Partner Company</small></p>
  </footer>

</div>