<!DOCTYPE html>
<html>
<!-- #docregion head -->
<!-- #docregion base-href -->

<head>
    <base href="/">
    <!-- #enddocregion base-href -->
    <title>Angular 2 Base</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- #enddocregion head -->
    <!-- #docregion css -->
    <link rel="stylesheet" href="styles.css">
    <!-- #enddocregion css -->
    <!-- #docregion head -->
    <!-- IE required polyfills, in this exact order -->

    <!--<script src="typescript/typescript.js"></script>-->
    <script src="packages/system.src.js"></script>
    <script src="packages/packages.js"></script>
    <!--<script src="vendor.js"></script>
    <!--<script src="node_modules/rxjs/bundles/Rx.umd.js"></script>
    <script src="node_modules/@angular/core/bundles/core.umd.js"></script>
    <script src="node_modules/systemjs/dist/system-polyfills.js"></script>
    <script src="node_modules/angular2/es6/dev/src/testing/shims_for_IE.js"></script>
    <script src="node_modules/typescript/lib/typescript.js"></script>
    <script src="node_modules/angular2/bundles/angular2-polyfills.js"></script>
    
    
    <script src="node_modules/angular2/bundles/angular2.dev.js"></script>
    <!-- #docregion router --
    <script src="node_modules/angular2/bundles/router.dev.js"></script>
    <!-- #enddocregion router -->
    <script>
        
        //System.import('./vendor.js');
        System.config({{{json system}}});
        console.log(System);
        //System.import("vendor.js");
        System.import('app').then(null, console.error.bind(console));

    </script>
</head>
<!-- #enddocregion head -->

<body>
    <base-app>Loading...</base-app>
</body>

</html>