<div class="forecast-detail">
  <span class="title">
    {{ dateTime | date: 'dd/MM/yyyy' }}
  </span>
  <span class="forecast-temp day">
    Day Temperature: <b>{{ day | temperature }}</b>
  </span>
  <span class="forecast-temp min">
    Min Daily Temperature: <b>{{ min | temperature }}</b>
  </span>
  <span class="forecast-temp max">
    Max Daily Temperature: <b>{{ max | temperature }}</b>
  </span>
  <span class="forecast-temp night">
    Night Temperature: <b>{{ night | temperature }}</b>
  </span>
  <span class="forecast-temp eve">
    Evening Daily Temperature: <b>{{ eve | temperature }}</b>
  </span>
  <span class="forecast-temp morn">
    Morning Daily Temperature: <b>{{ morn | temperature }}</b>
  </span>
</div>
