<div class="ButtonPanel">
  <div class="Column">
    <div class="Row">
      <base-button type="number" value="C" (clickButton)="clickOperation($event)"></base-button>
      <base-button type="number" value="+/-" (clickButton)="clickOperation($event)"></base-button>
      <base-button type="number" value="%" (clickButton)="clickOperation($event)"></base-button>
      <base-button type="operator" value="÷" (clickButton)="clickOperator($event)"></base-button>
    </div>
    <div class="Row">
      <base-button type="number" value="7" (clickButton)="clickNumber($event)"></base-button>
      <base-button type="number" value="8" (clickButton)="clickNumber($event)"></base-button>
      <base-button type="number" value="9" (clickButton)="clickNumber($event)"></base-button>
      <base-button type="operator" value="x" (clickButton)="clickOperator('x')"></base-button>
    </div>
    <div class="Row">
      <base-button type="number" value="4" (clickButton)="clickNumber($event)"></base-button>
      <base-button type="number" value="5" (clickButton)="clickNumber($event)"></base-button>
      <base-button type="number" value="6" (clickButton)="clickNumber($event)"></base-button>
      <base-button type="operator" value="-" (clickButton)="clickOperator('-')"></base-button>
    </div>
    <div class="Row">
      <base-button type="number" value="1" (clickButton)="clickNumber($event)"></base-button>
      <base-button type="number" value="2" (clickButton)="clickNumber($event)"></base-button>
      <base-button type="number" value="3" (clickButton)="clickNumber($event)"></base-button>
      <base-button type="operator" value="+" (clickButton)="clickOperator('+')"></base-button>
    </div>
    <div class="Row">
      <base-button type="zero" value="0" (clickButton)="clickNumber($event)"></base-button>
      <base-button type="number" value="." (clickButton)="clickDecimal()"></base-button>
      <base-button type="operator" value="=" (clickButton)="clickOperator('=')"></base-button>
    </div>
  </div>
</div>